<div class="container">

    <div class="row">

        <div class="col-3">ApiLink: </div>

        <div class="col-4">

            <span id="apiLink"></span>

        </div>

    </div>



 <img src="sd" id="imageElement"/>


   



</div>


<script src="~/js/signalr.js"></script>
<script src="~/js/ChatClient.js"></script>